---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
import Hero from "../components/Hero.astro";
import "../styles/main.css";
import "../styles/cards.css";
import "../styles/pages.css";
import CardTilt from "../components/Card_tilt.astro";

import { Image } from "astro:assets";
import Kalendersvg from "../imgs/kalender.svg";
import Drinks from "../imgs/drinks.webp";
import Stairs from "../imgs/stairs.webp";
import Waterfall from "../imgs/waterfall.webp";
import Shadow from "../imgs/shadow.webp";
---

<Layout>
  <main>
    <Hero
      title="Dit højskoleeventyr starter her"
      text="HØJSKOLENDK er en dansk højskole for unge i alderen 18-26 år. Vi brænder for oplevelser, fællesskabet og det gode eventyr."
      button_page="true"
      background="img/hero2.webp"
    />
    <div class="wrapper">
      <div class="afsnit2">
        <h2>Vælg dit eventyr</h2>
        <p>
          HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi
          brænder for oplevelser, fællesskabet og det gode eventyr.
        </p>
        <div class="cards_top">
          <Card
            title="Maldiverne, Sri Lanka, Bali, Gili Islands, Japan, Australien"
            badge="90-dage"
            image="img/card1.webp"
          />
          <Card
            poptext="2 ledige pladser"
            title="Brasilien, Colombia, Costa Rica, Mexico"
            badge="90-dage"
            label="2 anbefalede"
            image="img/card2_real.webp"
          />
          <Card
            title="Australien, New Zealand, Vietnam, Bali, Gili Islands, Lombok"
            badge="90-dage"
            image="img/card3.webp"
          />
        </div>
        <div class="cards_bottom">
          <Card
            poptext="4 ledige pigepladser"
            title="Hawaii, Australien, Japan, Bali, Gili Islands"
            badge="90-dage"
            image="img/card4.webp"
          />
          <Card
            title="Maldiverne, Sri Lanka, Bali, Gili Islands"
            badge="90-dage"
            image="img/maldives.webp"
          />
        </div>
        <div class="knapcirkel1">
          <div class="knap1">
            <Button title="Se alle rejser" variant="primary" />
          </div>
          <svg
            class="cirkel1"
            width="180"
            height="180"
            viewBox="0 0 180 180"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="90" cy="90" r="90" fill="#CE5501"></circle>
            <g opacity="0.2" filter="url(#filter0_g_258_990)">
              <path
                d="M90.1766 161.198C74.1803 161.198 58.5432 156.981 45.2428 149.082C31.9423 141.182 21.5759 129.954 15.4544 116.818C9.33289 103.681 7.73123 89.2259 10.8519 75.2801C13.9727 61.3344 21.6756 48.5245 32.9867 38.4702C44.2978 28.4159 58.709 21.5688 74.3979 18.7948C90.0868 16.0209 106.349 17.4446 121.127 22.8859C135.906 28.3273 148.538 37.5419 157.425 49.3645C166.312 61.1871 171.055 75.0867 171.055 89.3056C171.03 108.366 162.501 126.639 147.339 140.116C132.176 153.594 111.619 161.175 90.1766 161.198ZM154.856 116.089H122.837C119.021 129.164 112.06 141.349 102.435 151.802C113.757 150.028 124.431 145.856 133.555 139.64C142.68 133.424 149.986 125.346 154.856 116.089ZM161.54 89.3056C161.545 83.0977 160.522 76.923 158.503 70.9802H124.915C127.23 83.1104 127.23 95.5008 124.915 107.631H158.503C160.522 101.688 161.545 95.5135 161.54 89.3056ZM90.1766 27.4008C85.5959 31.5544 81.5556 36.1529 78.132 41.1097C73.5118 47.7902 69.9221 54.9921 67.4592 62.5223H112.894C110.431 54.9921 106.841 47.7902 102.221 41.1097C98.7975 36.1529 94.7572 31.5544 90.1766 27.4008ZM65.1597 70.9802C62.5694 83.0886 62.5694 95.5226 65.1597 107.631H115.193C117.784 95.5226 117.784 83.0886 115.193 70.9802H65.1597ZM18.813 89.3056C18.8077 95.5135 19.831 101.688 21.8499 107.631H55.4384C53.123 95.5008 53.123 83.1104 55.4384 70.9802H21.8499C19.831 76.923 18.8077 83.0977 18.813 89.3056ZM90.1766 151.21C94.7572 147.057 98.7975 142.458 102.221 137.502C106.841 130.821 110.431 123.619 112.894 116.089H67.4592C69.9221 123.619 73.5118 130.821 78.132 137.502C81.5556 142.458 85.5959 147.057 90.1766 151.21ZM77.9179 151.802C68.2931 141.349 61.3326 129.164 57.5158 116.089H25.4974C30.3674 125.346 37.6734 133.424 46.7978 139.64C55.9221 145.856 66.5964 150.028 77.9179 151.802ZM25.4974 62.5223H57.5158C61.3326 49.4469 68.2931 37.2625 77.9179 26.8088C66.5964 28.5832 55.9221 32.755 46.7978 38.9713C37.6734 45.1876 30.3674 53.2657 25.4974 62.5223ZM102.411 26.8088C112.045 37.2606 119.013 49.4451 122.837 62.5223H154.856C149.986 53.2657 142.68 45.1876 133.555 38.9713C124.431 32.755 113.757 28.5832 102.435 26.8088H102.411Z"
                fill="white"></path>
            </g>
            <path
              d="M65.2889 73.2683C65.2534 78.7387 65.3451 84.6092 65.5641 90.8799C65.7831 97.1505 66.101 103.013 66.5181 108.468L55.1243 108.866L54.6638 95.6779L36.8216 96.301L37.2821 109.489L25.8884 109.887C25.928 103.607 25.8524 97.7358 25.6616 92.2733C25.4709 86.8107 25.1367 80.9487 24.6592 74.6871L36.0529 74.2892L36.5135 87.4769L54.3556 86.8538L53.8951 73.6661L65.2889 73.2683ZM83.6927 72.0916C89.7694 71.8794 94.5953 72.4552 98.1704 73.819C101.744 75.1505 104.272 77.1011 105.753 79.6707C107.266 82.2068 108.088 85.3658 108.22 89.1476C108.345 92.7354 107.647 95.8989 106.124 98.6381C104.602 101.377 102.251 103.547 99.0702 105.147C95.8887 106.714 91.9384 107.58 87.2193 107.745C84.3425 107.845 81.4173 107.947 78.4436 108.051C75.47 108.155 72.4634 108.244 69.4239 108.318C69.4601 101.941 69.3823 96.0054 69.1904 90.5105C68.9963 84.951 68.6644 79.1536 68.1947 73.1182C72.0298 72.6607 77.1958 72.3185 83.6927 72.0916ZM88.2399 98.0491C91.2459 97.9441 93.2245 97.1469 94.1757 95.6574C95.127 94.1678 95.558 92.1463 95.4688 89.5928C95.383 87.1363 94.7803 85.1671 93.6606 83.6852C92.5732 82.2021 90.575 81.5114 87.6659 81.613C84.5306 81.7225 82.1906 81.9013 80.6459 82.1494L81.2097 98.2946L88.2399 98.0491ZM137.04 106.005C135.425 103.311 132.757 99.1967 129.037 93.6633L123.561 99.4855L123.804 106.467L111.732 106.889C111.771 100.609 111.696 94.7381 111.505 89.2756C111.314 83.813 110.98 77.951 110.503 71.6894L122.575 71.2678L123.071 85.4736C128.813 79.3832 132.882 74.5001 135.278 70.8242L150.987 70.2756L136.243 85.936C138.616 89.0246 141.273 92.3784 144.215 95.9973C147.189 99.6151 149.873 102.774 152.265 105.473L137.04 106.005Z"
              fill="white"></path>
            <defs>
              <filter
                id="filter0_g_258_990"
                x="4.66898"
                y="12.7846"
                width="171.016"
                height="153.042"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feTurbulence
                  type="fractalNoise"
                  baseFrequency="0.052372213453054428 0.052372213453054428"
                  numOctaves="3"
                  seed="3734"></feTurbulence>
                <feDisplacementMap
                  in="shape"
                  scale="9.2577447891235352"
                  xChannelSelector="R"
                  yChannelSelector="G"
                  result="displacedImage"
                  width="100%"
                  height="100%"></feDisplacementMap>
                <feMerge result="effect1_texture_258_990">
                  <feMergeNode in="displacedImage"></feMergeNode>
                </feMerge>
              </filter>
            </defs>
          </svg>
        </div>
      </div>
      <div class="afsnit3">
        <h2>Oplevelser for livet & fantastiske eventyr</h2>
        <p>
          HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år.Vi
          brænder for oplevelser, fællesskabet og det gode eventyr.
        </p>
        <div class="b_b_b">
          <Image src={Drinks} alt="" />
          <Image src={Stairs} alt="" />
          <Image src={Waterfall} alt="" />
        </div>
        <div class="cirkel2wrap">
          <svg
            class="cirkel2"
            width="180"
            height="180"
            viewBox="0 0 180 180"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="90"
              cy="90"
              r="90"
              transform="matrix(-1 0 0 1 180 0)"
              fill="#CE5501"></circle>
            <path
              d="M65.9872 152.835C66.6148 150.951 67.2432 148.916 67.8724 146.73C68.5016 144.544 69.0505 142.488 69.5191 140.564L73.5229 141.59L72.1996 146.188L78.4694 147.796L79.7926 143.198L83.7964 144.225C83.0763 146.388 82.4423 148.421 81.8942 150.326C81.3461 152.23 80.8029 154.287 80.2645 156.496L76.2608 155.469L77.584 150.872L71.3142 149.264L69.991 153.861L65.9872 152.835Z"
              fill="white"></path>
            <path
              d="M48.3134 142.525L50.0516 142.068C49.9652 140.839 50.3549 139.534 51.2208 138.153C52.3484 136.355 53.7682 135.27 55.4802 134.899C57.1922 134.527 59.2356 135.005 61.6105 136.332C62.7569 136.973 63.67 137.644 64.3496 138.345L65.1894 138.131L67.6956 141.342L66.0655 141.759C66.1742 143.041 65.7862 144.387 64.9016 145.797C63.7927 147.566 62.3792 148.64 60.6609 149.022C58.9325 149.398 56.891 148.928 54.5367 147.612C53.3493 146.949 52.4067 146.248 51.7088 145.509L50.8196 145.736L48.3134 142.525ZM61.2626 143.764C61.4308 143.496 61.5766 143.208 61.6998 142.902L56.0992 144.36C56.1646 144.41 56.2792 144.481 56.443 144.572C57.569 145.201 58.5167 145.443 59.2861 145.296C60.0556 145.149 60.7144 144.638 61.2626 143.764ZM54.8598 140.186C54.6916 140.455 54.5657 140.7 54.4821 140.921L59.9345 139.501L59.7042 139.372C58.568 138.737 57.6182 138.488 56.855 138.625C56.0856 138.772 55.4205 139.292 54.8598 140.186Z"
              fill="white"></path>
            <path
              d="M34.2065 130.885L38.7789 126.684C40.3937 125.201 42.0368 124.463 43.7081 124.469C45.3624 124.476 47.0691 125.332 48.8282 127.038C49.8383 128.018 50.6214 129.063 51.1777 130.173C51.7256 131.275 52.0902 132.371 52.2716 133.46C51.5763 133.797 50.932 134.142 50.3388 134.496C49.7456 134.851 49.1301 135.273 48.4924 135.763C48.3422 134.264 48.0391 133.032 47.5832 132.068C47.1272 131.104 46.5668 130.3 45.9019 129.655C45.2117 128.985 44.5595 128.655 43.9454 128.662C43.3313 128.67 42.6315 129.027 41.8459 129.733L40.8615 130.637C39.4626 131.922 38.3174 133.045 37.426 134.007L34.2065 130.885Z"
              fill="white"></path>
            <path
              d="M41.5473 122.28C40.8149 122.219 40.1548 122.2 39.5671 122.221C38.9734 122.233 38.3132 122.293 37.5867 122.401C37.5833 121.461 37.4175 120.454 37.0893 119.382C36.7611 118.309 36.3531 117.365 35.8653 116.55C35.3654 115.715 34.9407 115.165 34.5911 114.9C34.2311 114.641 33.9632 114.558 33.7873 114.652C33.1562 114.989 33.4007 116.093 34.5209 117.964C35.7496 120.017 36.4236 121.622 36.5432 122.779C36.6524 123.942 36.2155 124.785 35.2326 125.31C33.8359 126.055 32.4692 126.04 31.1325 125.267C29.7958 124.493 28.5885 123.206 27.5104 121.405C26.8841 120.358 26.3824 119.212 26.0052 117.967C25.6118 116.717 25.388 115.522 25.3339 114.383C26.1914 114.31 27.208 114.173 28.3836 113.971C28.6266 113.921 28.8119 113.888 28.9395 113.873C28.8224 114.613 28.9344 115.575 29.2754 116.76C29.606 117.951 30.0092 118.944 30.485 119.739C31.0572 120.694 31.5099 121.302 31.8431 121.563C32.166 121.828 32.4516 121.895 32.6999 121.763C32.9482 121.63 33.0145 121.296 32.8986 120.761C32.7664 120.221 32.4414 119.518 31.9234 118.653C30.6467 116.52 29.9727 114.835 29.9014 113.599C29.8199 112.368 30.2964 111.477 31.331 110.925C32.7795 110.153 34.1316 110.108 35.3874 110.792C36.6328 111.482 37.8788 112.868 39.1255 114.951C39.794 116.068 40.3504 117.271 40.7947 118.56C41.2286 119.855 41.4795 121.095 41.5473 122.28Z"
              fill="white"></path>
            <path
              d="M32.5716 99.3408C31.7482 100.108 30.5079 101.35 28.8505 103.068L31.3748 104.572L33.8359 103.973L34.989 108.198C32.754 108.645 30.6737 109.103 28.7481 109.571C26.8226 110.039 24.767 110.587 22.5813 111.215L21.4281 106.99L26.4357 105.773C23.7939 104.196 21.7203 103.12 20.2148 102.545L18.7143 97.0472L25.5053 101.095C26.4058 100.032 27.3769 98.8489 28.4185 97.5461C29.4571 96.232 30.3567 95.0543 31.1174 94.0128L32.5716 99.3408Z"
              fill="white"></path>
            <path
              d="M31.4288 85.5074C31.3803 88.1922 30.7642 90.1583 29.5807 91.4058C28.3854 92.6531 26.7326 93.2598 24.6222 93.2258C22.5353 93.1923 20.9169 92.5388 19.7672 91.2655C18.6176 89.9804 18.0672 87.9897 18.1159 85.2932C18.1648 82.585 18.7868 80.6131 19.9818 79.3775C21.1771 78.1302 22.8182 77.5233 24.9052 77.5569C27.0272 77.591 28.6573 78.2447 29.7954 79.5178C30.9334 80.7909 31.4779 82.7875 31.4288 85.5074ZM27.8411 85.4497C27.8646 84.1483 27.6354 83.2065 27.1533 82.6241C26.6595 82.0415 25.8851 81.7417 24.8299 81.7247C23.7982 81.7081 23.025 81.983 22.5105 82.5494C21.996 83.1157 21.727 84.0496 21.7035 85.3509C21.6802 86.6405 21.9154 87.5766 22.4092 88.1592C22.903 88.7418 23.6657 89.0414 24.6975 89.058C25.7409 89.0748 26.5199 88.8 27.0344 88.2337C27.5489 87.6673 27.8178 86.7393 27.8411 85.4497Z"
              fill="white"></path>
            <path
              d="M29.7251 72.1768C30.6667 68.9099 31.408 66.1963 31.949 64.036C32.4841 64.3345 33.0131 64.5709 33.536 64.745C34.059 64.9192 34.7003 65.1063 35.46 65.3065L31.9438 77.1975C29.7707 76.528 27.726 75.9408 25.8097 75.4359C23.8934 74.931 21.8222 74.4338 19.5958 73.9441L20.8128 69.8287L29.7251 72.1768Z"
              fill="white"></path>
            <path
              d="M35.4863 59.1426C37.7501 55.3061 39.3495 52.5022 40.2844 50.7312C40.6667 51.0275 41.0796 51.3069 41.5231 51.5694C41.9622 51.8163 42.5233 52.1215 43.2065 52.485L36.1995 64.2184C34.2394 63.0693 32.3847 62.0293 30.6352 61.0985C28.8858 60.1676 26.983 59.2082 24.9267 58.2202L31.9336 46.4868L34.7441 47.9822L29.8654 56.1518L31.356 56.9449C31.6549 56.4672 32.0869 55.7552 32.6521 54.8089C33.608 53.2082 34.5659 51.5356 35.5258 49.7911L38.1965 51.2122C37.1124 52.8906 36.0924 54.5301 35.1365 56.1308C34.5713 57.0771 34.1497 57.7947 33.8714 58.2834L35.4863 59.1426Z"
              fill="white"></path>
            <path
              d="M45.2297 33.0488C46.6348 34.4419 48.1733 35.9011 49.845 37.4265C51.5254 38.9598 53.1269 40.3656 54.6495 41.644L50.1443 46.0432L40.0049 42.5439L47.3255 48.7957L44.0913 51.9538C42.4781 50.355 40.9395 48.8877 39.4757 47.552C38.0205 46.2242 36.4191 44.8264 34.6716 43.3586L39.3026 38.8366L49.6495 42.5014L42.1466 36.0594L45.2297 33.0488Z"
              fill="white"></path>
            <path
              d="M53.5445 27.7667C55.4605 26.6764 57.119 26.0425 58.5202 25.8649C59.915 25.6775 61.0872 25.8594 62.0367 26.4104C62.99 26.9459 63.8359 27.7917 64.5743 28.9479C65.2749 30.0448 65.6323 31.1484 65.6466 32.2586C65.6609 33.3688 65.3036 34.4411 64.5748 35.4757C63.8397 36.5003 62.7282 37.436 61.2403 38.2827C60.3333 38.7988 59.411 39.3237 58.4734 39.8572C57.5358 40.3907 56.5848 40.9251 55.6206 41.4604C54.4587 39.4672 53.3413 37.6306 52.2684 35.9506C51.1828 34.2509 50.0092 32.5002 48.7474 30.6986C49.897 29.9096 51.4961 28.9323 53.5445 27.7667ZM59.7844 35.0892C60.7321 34.5499 61.222 33.968 61.2539 33.3435C61.2858 32.719 61.0525 32.0164 60.5539 31.2357C60.0742 30.4847 59.5179 29.9726 58.8849 29.6995C58.2622 29.4206 57.4922 29.5422 56.575 30.0641C55.5864 30.6266 54.8665 31.0767 54.4152 31.4144L57.5678 36.3506L59.7844 35.0892Z"
              fill="white"></path>
            <path
              d="M78.1204 31.8064C77.2958 30.9995 75.9654 29.7844 74.1293 28.1611L72.7447 30.6553L73.4896 33.0761L69.2659 34.2341C68.6874 32.0351 68.1067 29.9886 67.5239 28.0946C66.9411 26.2006 66.2699 24.1789 65.5104 22.0295L69.7341 20.8715L71.2498 25.797C72.7029 23.1868 73.679 21.1388 74.1783 19.653L79.6742 18.1461L75.9449 24.8561C77.0745 25.7373 78.3295 26.6875 79.7099 27.7066C81.1016 28.7226 82.3472 29.6024 83.4467 30.3461L78.1204 31.8064Z"
              fill="white"></path>
            <path
              d="M112.357 22.3299C111.804 24.2365 111.255 26.2943 110.712 28.5033C110.169 30.7123 109.7 32.7878 109.307 34.7298L105.271 33.8386L106.414 29.1929L100.093 27.7973L98.9509 32.443L94.9147 31.5517C95.5496 29.363 96.1037 27.3065 96.5769 25.3821C97.0502 23.4578 97.5127 21.3811 97.9643 19.1519L102 20.0431L100.858 24.6888L107.178 26.0844L108.321 21.4387L112.357 22.3299Z"
              fill="white"></path>
            <path
              d="M130.309 32.0391L128.593 32.5581C128.726 33.7862 128.387 35.107 127.575 36.5207C126.519 38.3615 125.144 39.4979 123.451 39.9298C121.758 40.3618 119.703 39.9546 117.285 38.7081C116.117 38.1064 115.182 37.4658 114.478 36.7866L113.648 37.0312L111.028 33.9014L112.638 33.4265C112.481 32.1464 112.817 30.7843 113.646 29.3401C114.685 27.5298 116.053 26.4036 117.752 25.9615C119.462 25.5247 121.515 25.9242 123.912 27.1599C125.121 27.7831 126.087 28.4526 126.811 29.1683L127.689 28.9093L130.309 32.0391ZM117.351 31.2501C117.193 31.5247 117.059 31.8178 116.948 32.1294L122.477 30.4726C122.41 30.4248 122.293 30.3579 122.126 30.272C120.98 29.681 120.025 29.4725 119.264 29.6466C118.502 29.8206 117.864 30.3551 117.351 31.2501ZM123.87 34.6107C124.028 34.3361 124.144 34.0864 124.219 33.8615L118.836 35.4751L119.071 35.596C120.228 36.1924 121.184 36.4086 121.94 36.2448C122.701 36.0707 123.345 35.526 123.87 34.6107Z"
              fill="white"></path>
            <path
              d="M144.766 43.1802L140.358 47.5528C138.801 49.0971 137.189 49.8962 135.522 49.9502C133.872 50.0038 132.139 49.2081 130.322 47.5629C129.28 46.6183 128.461 45.6001 127.865 44.5081C127.279 43.4241 126.876 42.3399 126.655 41.2556C127.336 40.8932 127.966 40.5238 128.545 40.1476C129.124 39.7713 129.723 39.3261 130.341 38.8117C130.545 40.3079 130.892 41.5306 131.382 42.4796C131.871 43.4287 132.46 44.2142 133.146 44.836C133.859 45.4815 134.521 45.7892 135.133 45.7592C135.746 45.7291 136.431 45.3464 137.189 44.6111L138.138 43.6697C139.486 42.3319 140.588 41.1651 141.442 40.1694L144.766 43.1802Z"
              fill="white"></path>
            <path
              d="M137.73 52.0518C138.464 52.0856 139.124 52.081 139.71 52.038C140.302 52.0048 140.959 51.9205 141.681 51.7851C141.718 52.7257 141.92 53.7264 142.286 54.7872C142.652 55.8479 143.093 56.7769 143.61 57.5741C144.139 58.391 144.583 58.9254 144.941 59.1775C145.31 59.4236 145.58 59.4965 145.753 59.3963C146.371 59.0364 146.087 57.9413 144.901 56.1107C143.601 54.103 142.87 52.5225 142.71 51.3694C142.559 50.2103 142.965 49.3506 143.928 48.7902C145.296 47.9939 146.661 47.9581 148.024 48.6829C149.386 49.4076 150.638 50.6509 151.779 52.4125C152.442 53.4361 152.984 54.5638 153.405 55.7959C153.843 57.0318 154.109 58.2185 154.204 59.3559C153.35 59.4598 152.34 59.6345 151.173 59.8799C150.932 59.9388 150.748 59.9781 150.622 59.9977C150.712 59.2539 150.566 58.2956 150.183 57.1226C149.81 55.9437 149.372 54.9656 148.868 54.1881C148.263 53.2531 147.789 52.6616 147.447 52.4135C147.115 52.1595 146.827 52.1033 146.584 52.2448C146.341 52.3864 146.287 52.7229 146.421 53.2542C146.573 53.7895 146.922 54.4804 147.471 55.3268C148.822 57.4132 149.555 59.0733 149.671 60.3072C149.796 61.5351 149.352 62.444 148.339 63.0339C146.92 63.8597 145.572 63.9535 144.293 63.3154C143.025 62.6713 141.731 61.3307 140.411 59.2934C139.704 58.201 139.105 57.0181 138.615 55.7447C138.135 54.4655 137.84 53.2345 137.73 52.0518Z"
              fill="white"></path>
            <path
              d="M147.523 74.6418C148.318 73.8459 149.512 72.5602 151.105 70.7846L148.527 69.3733L146.088 70.0593L144.78 65.8796C146.998 65.353 149.061 64.8214 150.968 64.2847C152.876 63.7479 154.911 63.1267 157.072 62.4211L158.381 66.6007L153.42 67.9965C156.118 69.4776 158.231 70.4782 159.757 70.9986L161.459 76.4371L154.522 72.636C153.661 73.7305 152.734 74.9472 151.74 76.286C150.75 77.636 149.894 78.8448 149.172 79.9125L147.523 74.6418Z"
              fill="white"></path>
            <path
              d="M149.198 88.4072C149.144 85.7226 149.684 83.7365 150.819 82.4491C151.966 81.1614 153.594 80.4982 155.704 80.4595C157.791 80.4212 159.434 81.0185 160.631 82.2513C161.829 83.4959 162.456 85.4664 162.51 88.1628C162.565 90.8709 162.019 92.8629 160.872 94.1388C159.725 95.4265 158.109 96.0895 156.022 96.1278C153.9 96.1667 152.246 95.5697 151.06 94.3366C149.874 93.1035 149.253 91.1271 149.198 88.4072ZM152.785 88.3414C152.812 89.6426 153.077 90.576 153.581 91.1414C154.097 91.7066 154.882 91.9795 155.937 91.9601C156.969 91.9412 157.731 91.6398 158.224 91.0561C158.716 90.4724 158.949 89.5299 158.923 88.2287C158.897 86.9391 158.626 86.0117 158.11 85.4465C157.594 84.8813 156.821 84.6082 155.789 84.6272C154.745 84.6463 153.977 84.9477 153.485 85.5314C152.993 86.1151 152.759 87.0518 152.785 88.3414Z"
              fill="white"></path>
            <path
              d="M151.437 101.664C150.624 104.965 149.989 107.706 149.533 109.886C148.987 109.606 148.45 109.387 147.921 109.231C147.392 109.074 146.745 108.909 145.979 108.734L149.028 96.7151C151.223 97.3111 153.286 97.8291 155.218 98.2692C157.151 98.7092 159.237 99.1363 161.478 99.5505L160.423 103.71L151.437 101.664Z"
              fill="white"></path>
            <path
              d="M146.218 114.893C144.106 118.816 142.617 121.68 141.752 123.487C141.36 123.204 140.937 122.938 140.485 122.691C140.038 122.459 139.467 122.172 138.772 121.832L145.314 109.833C147.312 110.916 149.201 111.894 150.981 112.765C152.76 113.637 154.694 114.532 156.782 115.45L150.24 127.449L147.381 126.048L151.936 117.694L150.419 116.951C150.139 117.44 149.736 118.169 149.208 119.136C148.315 120.773 147.424 122.482 146.533 124.263L143.816 122.933C144.833 121.214 145.788 119.536 146.681 117.899C147.208 116.931 147.602 116.197 147.86 115.698L146.218 114.893Z"
              fill="white"></path>
            <path
              d="M137.51 141.346C136.058 140.001 134.471 138.595 132.748 137.128C131.016 135.653 129.368 134.302 127.803 133.077L132.136 128.507L142.375 131.646L134.846 125.648L137.957 122.368C139.624 123.912 141.211 125.326 142.72 126.611C144.22 127.888 145.867 129.23 147.664 130.638L143.21 135.334L132.758 132.037L140.475 138.219L137.51 141.346Z"
              fill="white"></path>
            <path
              d="M129.457 146.884C127.583 148.045 125.95 148.74 124.557 148.969C123.171 149.207 121.994 149.069 121.027 148.552C120.056 148.051 119.181 147.236 118.402 146.107C117.663 145.035 117.267 143.945 117.213 142.834C117.159 141.724 117.477 140.639 118.168 139.577C118.865 138.525 119.942 137.548 121.397 136.647C122.284 136.097 123.186 135.538 124.103 134.97C125.02 134.402 125.951 133.833 126.894 133.262C128.126 135.213 129.307 137.009 130.438 138.65C131.583 140.311 132.818 142.019 134.142 143.775C133.022 144.606 131.461 145.643 129.457 146.884ZM122.965 139.788C122.038 140.362 121.57 140.962 121.56 141.588C121.551 142.214 121.809 142.908 122.334 143.671C122.84 144.405 123.414 144.896 124.056 145.146C124.688 145.402 125.452 145.253 126.349 144.697C127.316 144.098 128.019 143.621 128.457 143.267L125.133 138.445L122.965 139.788Z"
              fill="white"></path>
            <path
              d="M104.826 143.707C105.68 144.484 107.054 145.65 108.949 147.206L110.242 144.664L109.409 142.272L113.588 140.964C114.247 143.14 114.902 145.164 115.554 147.035C116.206 148.906 116.951 150.902 117.789 153.022L113.609 154.331L111.914 149.464C110.557 152.124 109.656 154.206 109.212 155.708L103.773 157.411L107.255 150.573C106.094 149.733 104.805 148.829 103.388 147.861C101.959 146.896 100.682 146.061 99.5558 145.358L104.826 143.707Z"
              fill="white"></path>
            <g filter="url(#filter0_g_11_365)">
              <path
                d="M92.549 106.501C91.5228 105.246 91.3291 103.704 89.787 103.027C89.7755 104.087 89.989 104.895 89.472 105.714C88.884 101.88 87.5618 98.4677 85.0636 95.5545C84.1024 96.8095 83.216 97.9882 81.7835 98.5588C83.4351 95.7288 83.8605 92.8931 83.4795 89.8114C82.5692 82.4599 79.1 78.5177 77.8065 69.8014C77.4452 67.3738 77.0081 65.0437 76.29 62.7148C73.0914 52.3481 66.593 53.0831 65.9706 54.4737C65.8284 54.7903 65.8209 55.5768 66.0166 55.9203C67.6381 58.7812 68.9765 61.6026 69.9418 64.7449C70.787 67.4931 70.9634 70.1822 70.6603 73.034C69.8502 80.63 68.5136 82.262 66.6861 89.0839C64.9872 95.4228 67.0841 102.326 72.6859 106.154C71.7774 106.319 70.898 106.22 70.04 105.906C64.2383 103.779 61.6253 97.7877 61.9571 91.9245C62.4319 83.5608 66.2722 79.7321 67.2734 71.0399C67.5963 68.2406 67.1553 65.5331 66.3107 62.8408C65.4661 60.1485 64.1841 57.8842 62.9109 55.4664C62.3474 54.3974 62.6138 53.1644 63.7892 52.7258C66.2875 51.7914 69.1449 51.8386 71.5372 53.1277C73.3068 54.0801 74.5723 55.5934 75.6219 57.309C80.5001 65.2738 78.0838 75.1971 83.8211 75.0885C86.0524 75.0456 88.2816 74.6297 90.472 73.9679L98.2351 71.6241C100.784 70.8543 103.147 71.4948 104.727 73.6915C105.95 75.3914 106.175 77.5971 106.271 79.5591C110.169 81.8079 111.924 86.0833 109.336 90.0029C112.162 91.6683 113.602 94.9431 112.256 97.945C111.486 99.6618 109.959 100.735 108.488 101.936C114.375 101.775 119.887 100.899 125.411 99.4983C126.402 99.247 127.301 100.257 127.683 100.995C128.754 103.061 126.327 105.352 124.72 106.354C117.112 111.103 108.577 109.362 104.888 110.953L98.9111 113.528C95.6413 114.939 92.5293 116.256 89.1218 117.364C84.3124 118.928 78.9852 118.123 74.992 114.972C72.9256 113.342 71.4502 111.23 71.0692 108.567C74.421 113.234 79.3031 115.603 84.8805 115.363C88.0809 115.226 91.148 114.699 94.1925 113.572L103.982 109.952C105.849 109.262 107.662 108.873 109.655 108.837C113.793 108.766 127.008 107.722 126.962 102.068C126.955 101.233 126.189 100.233 125.203 100.539C118.88 102.493 112.427 103.887 105.855 104.727C105.945 105.586 105.981 106.157 105.958 106.889L104.63 105.146L101.434 106.324C99.5957 107.003 97.7336 107.434 95.6922 107.588C95.6588 108.824 95.9298 110.001 95.1875 111.319C94.6659 110.413 93.635 105.057 92.3489 104.654L92.5536 106.502L92.549 106.501ZM92.2432 81.8325C90.2391 82.6996 86.9193 84.2598 86.4521 86.3149C86.1212 87.7714 87.3471 90.0333 88.9113 90.2018C91.3895 90.4676 97.8637 86.7879 100.09 85.4021C101.575 84.4761 102.87 83.2559 103.993 81.9471C105.808 79.8306 104.629 75.6618 102.986 74.3519C101.615 73.2577 99.5434 73.1592 97.8724 73.7831L89.852 76.7743C87.6269 77.604 84.0008 79.6376 85.0526 82.6663C85.9922 81.3574 90.1991 78.9267 91.2313 78.7096C91.3722 78.6802 91.5521 78.9828 91.6897 79.117C93.486 77.6717 97.7444 74.5412 100.278 75.003C97.0367 76.7783 94.2903 78.8307 92.2419 81.8341L92.2432 81.8325ZM90.4238 96.3398C90.9914 97.7061 92.1884 98.2417 93.5534 97.8615C98.3461 96.5295 102.892 94.3342 106.963 91.3974C108.265 90.4593 109.185 89.0871 109.513 87.6173C110.098 84.9953 108.49 82.3781 105.785 81.9846C104.81 83.4827 103.74 84.8684 102.136 85.7704L92.5242 91.1842C91.5866 91.7132 90.5021 92.3718 90.0568 93.3475C89.6379 94.2649 90.0417 95.4223 90.4221 96.3384L90.4238 96.3398ZM95.4185 104.457C99.6817 104.507 106.355 100.961 109.581 98.5902C110.958 97.5772 111.81 96.0706 111.521 94.4178C111.231 92.765 110.182 91.5661 108.953 90.7069C105.653 94.7452 100.235 97.3986 95.5041 99.4308C94.8566 99.7084 93.7667 100.307 93.639 101.002C93.3774 102.422 94.2818 103.617 95.4185 104.457Z"
                fill="white"></path>
            </g>
            <defs>
              <filter
                id="filter0_g_11_365"
                x="56.1757"
                y="46.331"
                width="77.5248"
                height="77.5618"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feTurbulence
                  type="fractalNoise"
                  baseFrequency="0.024696726351976395 0.024696726351976395"
                  numOctaves="3"
                  seed="3734"></feTurbulence>
                <feDisplacementMap
                  in="shape"
                  scale="11.50684928894043"
                  xChannelSelector="R"
                  yChannelSelector="G"
                  result="displacedImage"
                  width="100%"
                  height="100%"></feDisplacementMap>
                <feMerge result="effect1_texture_11_365">
                  <feMergeNode in="displacedImage"></feMergeNode>
                </feMerge>
              </filter>
            </defs>
          </svg>
        </div>
      </div>
      <div class="afsnit4">
        <h2>+3.000 glade elever siden 2010</h2>
        <p>96% af alle elever anbefaler HØJSKOLENDK (2025).</p>
        <span class="sh_b"> <Image src={Shadow} alt="" /></span>
      </div>
      <div class="afsnit5">
        <h2>Klar på højskoleeventyr, fælleskab & masser af adventure?</h2>
        <p>
          Her er lidt af alt det, som du får, når du tager på et højskoleophold
          med os.
        </p>
        <span class="tiltet">
          <CardTilt variant="right_tilt" />
          <CardTilt variant="left_tilt" />
          <CardTilt variant="right_tilt" />
          <CardTilt variant="left_tilt" />
        </span>
        <div class="skemagrid">
          <div class="venstre">
            <p>ONLINE INFOMØDE</p>
            <h2>Kom til infomøde</h2>
            <p>
              Kig forbi et af vores hyggelige online-infomøder – vi glæder os
              til at møde dig!
            </p>
            <div class="skema">
              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>06 Januar</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>

              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>03 Februar</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>

              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>17 Marts</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>

              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>14 April</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>

              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>05 Maj</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>

              <div class="row">
                <span class="icon"
                  ><Image
                    src={Kalendersvg}
                    alt=""
                    width={24}
                    height={24}
                  /></span
                >
                <span class="dato"><b>09 Juni</b> 2026</span>
                <span class="tid"><b>Kl. 18.30 – 20.00</b></span>
              </div>
            </div>
            <Button title="Tilmeld infomøde" variant="primary" class="Tilmed" />
          </div>
          <div class="hojre">
            <svg
              width="572"
              height="503"
              viewBox="0 0 572 503"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              class="svgen"
            >
              <rect
                y="96.0845"
                width="418.086"
                height="418.086"
                rx="4.28806"
                transform="rotate(-13.2864 0 96.0845)"
                fill="#D9D9D9"></rect>
              <rect
                x="20.8125"
                y="66.5942"
                width="418.086"
                height="418.086"
                rx="4.28806"
                transform="rotate(-6.28637 20.8125 66.5942)"
                fill="#D9D9D9"></rect>
              <circle
                cx="110.5"
                cy="110.5"
                r="110.5"
                transform="matrix(-1 0 0 1 572 182.108)"
                fill="url(#paint0_linear_11_261)"></circle>
              <path
                d="M461.435 327.808C453.223 327.808 445.195 325.643 438.367 321.588C431.539 317.532 426.217 311.768 423.075 305.024C419.932 298.28 419.11 290.859 420.712 283.7C422.314 276.54 426.269 269.964 432.075 264.802C437.882 259.641 445.281 256.126 453.335 254.702C461.389 253.278 469.738 254.008 477.325 256.802C484.912 259.595 491.396 264.326 495.959 270.395C500.521 276.465 502.956 283.6 502.956 290.9C502.943 300.685 498.565 310.066 490.781 316.985C482.997 323.904 472.443 327.796 461.435 327.808ZM494.64 304.65H478.202C476.243 311.362 472.67 317.618 467.728 322.984C473.541 322.073 479.021 319.932 483.705 316.74C488.389 313.549 492.14 309.402 494.64 304.65ZM498.071 290.9C498.074 287.713 497.549 284.543 496.512 281.492H479.269C480.458 287.72 480.458 294.08 479.269 300.308H496.512C497.549 297.257 498.074 294.087 498.071 290.9ZM461.435 259.12C459.084 261.252 457.009 263.613 455.252 266.157C452.88 269.587 451.037 273.284 449.773 277.15H473.098C471.833 273.284 469.99 269.587 467.619 266.157C465.861 263.613 463.787 261.252 461.435 259.12ZM448.592 281.492C447.262 287.708 447.262 294.092 448.592 300.308H474.278C475.608 294.092 475.608 287.708 474.278 281.492H448.592ZM424.799 290.9C424.796 294.087 425.322 297.257 426.358 300.308H443.601C442.413 294.08 442.413 287.72 443.601 281.492H426.358C425.322 284.543 424.796 287.713 424.799 290.9ZM461.435 322.68C463.787 320.548 465.861 318.187 467.619 315.643C469.99 312.213 471.833 308.516 473.098 304.65H449.773C451.037 308.516 452.88 312.213 455.252 315.643C457.009 318.187 459.084 320.548 461.435 322.68ZM455.142 322.984C450.201 317.618 446.627 311.362 444.668 304.65H428.231C430.731 309.402 434.481 313.549 439.166 316.74C443.85 319.932 449.33 322.073 455.142 322.984ZM428.231 277.15H444.668C446.627 270.438 450.201 264.182 455.142 258.816C449.33 259.727 443.85 261.868 439.166 265.06C434.481 268.251 430.731 272.398 428.231 277.15ZM467.716 258.816C472.662 264.181 476.239 270.437 478.202 277.15H494.64C492.14 272.398 488.389 268.251 483.705 265.06C479.021 261.868 473.541 259.727 467.728 258.816H467.716Z"
                fill="white"></path>
              <path
                d="M433.158 372.361C433.928 370.047 434.7 367.549 435.472 364.865C436.245 362.181 436.919 359.657 437.494 357.294L442.41 358.555L440.785 364.2L448.483 366.174L450.108 360.529L455.023 361.79C454.139 364.445 453.361 366.942 452.688 369.28C452.015 371.618 451.348 374.143 450.687 376.856L445.771 375.595L447.396 369.951L439.698 367.976L438.074 373.621L433.158 372.361Z"
                fill="white"></path>
              <path
                d="M411.571 359.752L413.705 359.191C413.599 357.682 414.078 356.08 415.141 354.385C416.525 352.177 418.269 350.845 420.371 350.389C422.473 349.933 424.981 350.519 427.897 352.149C429.305 352.935 430.426 353.759 431.26 354.621L432.291 354.357L435.368 358.299L433.367 358.812C433.5 360.385 433.024 362.038 431.938 363.77C430.577 365.941 428.841 367.26 426.731 367.729C424.609 368.19 422.103 367.613 419.212 365.998C417.754 365.183 416.597 364.323 415.74 363.416L414.648 363.695L411.571 359.752ZM427.47 361.273C427.677 360.944 427.856 360.591 428.007 360.214L421.131 362.005C421.211 362.067 421.352 362.153 421.553 362.266C422.935 363.038 424.099 363.334 425.043 363.154C425.988 362.974 426.797 362.347 427.47 361.273ZM419.609 356.881C419.402 357.21 419.248 357.511 419.145 357.783L425.839 356.039L425.557 355.881C424.162 355.101 422.996 354.796 422.059 354.964C421.114 355.144 420.297 355.783 419.609 356.881Z"
                fill="white"></path>
              <path
                d="M394.339 345.535L399.953 340.378C401.935 338.557 403.953 337.65 406.005 337.658C408.036 337.666 410.131 338.717 412.291 340.812C413.531 342.015 414.493 343.298 415.176 344.661C415.849 346.015 416.296 347.36 416.519 348.697C415.665 349.111 414.874 349.535 414.146 349.97C413.418 350.404 412.662 350.923 411.879 351.525C411.694 349.684 411.322 348.172 410.763 346.988C410.203 345.805 409.515 344.817 408.698 344.025C407.851 343.203 407.05 342.797 406.296 342.806C405.542 342.816 404.683 343.254 403.718 344.121L402.51 345.231C400.792 346.809 399.386 348.188 398.292 349.369L394.339 345.535Z"
                fill="white"></path>
              <path
                d="M403.419 335.062C402.52 334.988 401.709 334.964 400.988 334.99C400.259 335.004 399.448 335.078 398.556 335.212C398.552 334.057 398.349 332.821 397.946 331.504C397.543 330.187 397.042 329.028 396.443 328.028C395.829 327.002 395.308 326.327 394.878 326.002C394.436 325.684 394.108 325.582 393.892 325.697C393.117 326.111 393.417 327.466 394.792 329.764C396.301 332.283 397.128 334.254 397.275 335.675C397.409 337.103 396.873 338.138 395.666 338.782C393.951 339.697 392.273 339.679 390.632 338.729C388.991 337.779 387.509 336.199 386.185 333.988C385.416 332.703 384.8 331.296 384.337 329.767C383.854 328.232 383.579 326.765 383.513 325.366C384.565 325.277 385.814 325.109 387.257 324.86C387.555 324.799 387.783 324.759 387.94 324.741C387.796 325.648 387.933 326.83 388.352 328.285C388.758 329.747 389.253 330.966 389.837 331.942C390.54 333.116 391.095 333.862 391.505 334.182C391.901 334.508 392.252 334.59 392.556 334.427C392.861 334.265 392.943 333.855 392.8 333.197C392.638 332.534 392.239 331.671 391.603 330.609C390.036 327.99 389.208 325.922 389.121 324.404C389.02 322.893 389.606 321.799 390.876 321.121C392.654 320.173 394.314 320.118 395.856 320.958C397.385 321.805 398.915 323.507 400.446 326.064C401.266 327.435 401.95 328.912 402.495 330.495C403.028 332.085 403.336 333.608 403.419 335.062Z"
                fill="white"></path>
              <path
                d="M392.436 307.004C391.425 307.946 389.902 309.472 387.867 311.581L390.967 313.426L393.988 312.691L395.404 317.879C392.66 318.428 390.106 318.99 387.742 319.564C385.377 320.139 382.854 320.812 380.17 321.584L378.754 316.396L384.902 314.901C381.659 312.965 379.113 311.644 377.264 310.938L375.422 304.188L383.76 309.158C384.866 307.853 386.058 306.4 387.337 304.801C388.612 303.187 389.717 301.741 390.65 300.462L392.436 307.004Z"
                fill="white"></path>
              <path
                d="M391.049 290.134C390.989 293.43 390.233 295.844 388.78 297.375C387.312 298.907 385.283 299.652 382.692 299.61C380.129 299.569 378.143 298.767 376.731 297.203C375.319 295.625 374.644 293.181 374.703 289.871C374.763 286.545 375.527 284.124 376.994 282.607C378.462 281.076 380.477 280.331 383.039 280.372C385.645 280.414 387.646 281.217 389.043 282.78C390.441 284.343 391.109 286.794 391.049 290.134ZM386.644 290.063C386.673 288.465 386.391 287.308 385.799 286.593C385.193 285.878 384.242 285.51 382.947 285.489C381.68 285.469 380.731 285.806 380.099 286.502C379.467 287.197 379.137 288.344 379.108 289.941C379.08 291.525 379.368 292.674 379.975 293.389C380.581 294.105 381.517 294.473 382.784 294.493C384.065 294.514 385.022 294.176 385.653 293.481C386.285 292.785 386.615 291.646 386.644 290.063Z"
                fill="white"></path>
              <path
                d="M388.942 273.87C390.098 269.859 391.008 266.528 391.672 263.875C392.329 264.242 392.979 264.532 393.621 264.746C394.263 264.96 395.05 265.189 395.983 265.435L391.666 280.035C388.998 279.213 386.487 278.492 384.134 277.872C381.782 277.252 379.239 276.641 376.505 276.04L377.999 270.987L388.942 273.87Z"
                fill="white"></path>
              <path
                d="M395.98 257.961C398.759 253.251 400.723 249.808 401.871 247.634C402.34 247.998 402.847 248.341 403.392 248.663C403.931 248.966 404.62 249.341 405.458 249.787L396.855 264.193C394.449 262.782 392.172 261.505 390.024 260.363C387.876 259.22 385.539 258.042 383.015 256.829L391.618 242.423L395.068 244.259L389.078 254.289L390.909 255.263C391.276 254.676 391.806 253.802 392.5 252.64C393.674 250.675 394.85 248.622 396.028 246.48L399.307 248.224C397.976 250.285 396.724 252.298 395.55 254.263C394.856 255.425 394.339 256.306 393.997 256.906L395.98 257.961Z"
                fill="white"></path>
              <path
                d="M407.874 226.016C409.599 227.726 411.488 229.518 413.54 231.391C415.603 233.273 417.569 234.999 419.439 236.569L413.908 241.97L401.459 237.674L410.447 245.349L406.476 249.227C404.495 247.264 402.606 245.462 400.809 243.822C399.022 242.192 397.056 240.476 394.91 238.674L400.596 233.122L413.3 237.621L404.088 229.712L407.874 226.016Z"
                fill="white"></path>
              <path
                d="M417.993 219.608C420.346 218.269 422.382 217.491 424.102 217.273C425.815 217.043 427.254 217.266 428.42 217.943C429.59 218.6 430.629 219.638 431.535 221.058C432.396 222.405 432.834 223.76 432.852 225.123C432.87 226.486 432.431 227.802 431.536 229.073C430.634 230.331 429.269 231.479 427.442 232.519C426.328 233.153 425.196 233.797 424.045 234.452C422.894 235.107 421.726 235.763 420.542 236.421C419.116 233.973 417.744 231.718 416.427 229.656C415.094 227.569 413.653 225.419 412.104 223.207C413.515 222.239 415.478 221.039 417.993 219.608ZM425.654 228.598C426.818 227.936 427.42 227.222 427.459 226.455C427.498 225.688 427.211 224.825 426.599 223.867C426.01 222.945 425.327 222.316 424.55 221.981C423.786 221.638 422.84 221.788 421.714 222.428C420.5 223.119 419.616 223.672 419.062 224.086L422.933 230.147L425.654 228.598Z"
                fill="white"></path>
              <path
                d="M448.06 224.614C447.048 223.623 445.414 222.131 443.16 220.138L441.46 223.201L442.375 226.173L437.189 227.595C436.479 224.895 435.766 222.382 435.05 220.057C434.335 217.731 433.51 215.249 432.578 212.61L437.764 211.188L439.625 217.236C441.409 214.031 442.607 211.516 443.22 209.692L449.968 207.842L445.389 216.08C446.776 217.162 448.317 218.329 450.012 219.58C451.721 220.828 453.25 221.908 454.6 222.821L448.06 224.614Z"
                fill="white"></path>
              <path
                d="M489.859 212.988C489.18 215.329 488.506 217.855 487.839 220.567C487.172 223.279 486.598 225.828 486.115 228.212L481.159 227.118L482.562 221.414L474.802 219.7L473.399 225.404L468.444 224.31C469.223 221.623 469.904 219.098 470.485 216.735C471.066 214.372 471.634 211.823 472.188 209.086L477.144 210.18L475.741 215.884L483.501 217.597L484.904 211.893L489.859 212.988Z"
                fill="white"></path>
              <path
                d="M511.783 224.86L509.676 225.498C509.839 227.005 509.423 228.627 508.427 230.363C507.13 232.623 505.442 234.018 503.363 234.548C501.285 235.079 498.761 234.579 495.792 233.048C494.359 232.31 493.21 231.523 492.345 230.689L491.327 230.99L488.11 227.147L490.087 226.564C489.894 224.992 490.307 223.32 491.324 221.547C492.6 219.324 494.28 217.941 496.366 217.398C498.465 216.862 500.985 217.353 503.929 218.87C505.413 219.635 506.6 220.457 507.488 221.336L508.566 221.018L511.783 224.86ZM495.873 223.892C495.68 224.229 495.515 224.589 495.378 224.971L502.167 222.937C502.084 222.878 501.941 222.796 501.736 222.691C500.328 221.965 499.157 221.709 498.222 221.923C497.287 222.137 496.504 222.793 495.873 223.892ZM503.877 228.018C504.071 227.681 504.214 227.374 504.306 227.098L497.697 229.079L497.985 229.227C499.405 229.96 500.579 230.225 501.507 230.024C502.443 229.81 503.233 229.142 503.877 228.018Z"
                fill="white"></path>
              <path
                d="M529.438 238.466L524.026 243.835C522.115 245.731 520.136 246.712 518.089 246.778C516.063 246.844 513.935 245.867 511.705 243.847C510.424 242.688 509.419 241.437 508.688 240.097C507.968 238.766 507.473 237.435 507.202 236.103C508.039 235.658 508.812 235.205 509.523 234.743C510.233 234.281 510.968 233.734 511.727 233.103C511.978 234.94 512.404 236.441 513.005 237.606C513.607 238.771 514.329 239.736 515.172 240.499C516.047 241.292 516.86 241.67 517.612 241.633C518.363 241.596 519.204 241.126 520.135 240.223L521.3 239.067C522.956 237.425 524.308 235.992 525.357 234.77L529.438 238.466Z"
                fill="white"></path>
              <path
                d="M520.731 249.27C521.632 249.311 522.442 249.306 523.162 249.253C523.889 249.212 524.696 249.108 525.582 248.942C525.628 250.097 525.875 251.326 526.325 252.628C526.774 253.93 527.316 255.071 527.95 256.05C528.599 257.053 529.144 257.709 529.585 258.018C530.037 258.321 530.369 258.41 530.581 258.287C531.34 257.845 530.992 256.501 529.536 254.253C527.939 251.788 527.042 249.848 526.845 248.432C526.66 247.009 527.158 245.953 528.34 245.265C530.02 244.287 531.696 244.244 533.369 245.133C535.042 246.023 536.579 247.55 537.98 249.713C538.794 250.969 539.459 252.354 539.977 253.867C540.514 255.384 540.841 256.841 540.957 258.237C539.909 258.365 538.669 258.579 537.236 258.881C536.94 258.953 536.715 259.001 536.559 259.025C536.67 258.112 536.49 256.936 536.02 255.495C535.562 254.048 535.024 252.847 534.406 251.893C533.663 250.745 533.081 250.018 532.661 249.714C532.253 249.402 531.9 249.333 531.602 249.507C531.303 249.68 531.236 250.094 531.402 250.746C531.588 251.403 532.017 252.251 532.69 253.291C534.35 255.852 535.25 257.891 535.392 259.405C535.546 260.913 535.001 262.029 533.756 262.753C532.014 263.767 530.359 263.882 528.789 263.099C527.232 262.308 525.643 260.662 524.023 258.161C523.154 256.819 522.419 255.367 521.818 253.804C521.229 252.233 520.866 250.722 520.731 249.27Z"
                fill="white"></path>
              <path
                d="M532.71 276.901C533.686 275.924 535.152 274.345 537.109 272.165L533.943 270.432L530.949 271.275L529.343 266.143C532.066 265.496 534.599 264.844 536.941 264.185C539.283 263.526 541.781 262.763 544.435 261.897L546.041 267.028L539.951 268.742C543.264 270.56 545.858 271.789 547.731 272.428L549.821 279.105L541.304 274.438C540.246 275.782 539.108 277.276 537.889 278.92C536.673 280.577 535.622 282.061 534.736 283.372L532.71 276.901Z"
                fill="white"></path>
              <path
                d="M534.75 293.691C534.683 290.395 535.347 287.956 536.74 286.375C538.148 284.795 540.148 283.98 542.738 283.933C545.301 283.886 547.317 284.619 548.788 286.133C550.259 287.661 551.028 290.08 551.095 293.391C551.162 296.716 550.491 299.161 549.083 300.728C547.675 302.309 545.69 303.123 543.128 303.17C540.523 303.218 538.492 302.485 537.036 300.971C535.579 299.457 534.818 297.03 534.75 293.691ZM539.155 293.61C539.187 295.208 539.513 296.353 540.131 297.048C540.765 297.742 541.729 298.077 543.024 298.053C544.291 298.03 545.227 297.66 545.831 296.943C546.436 296.226 546.722 295.069 546.69 293.471C546.658 291.888 546.325 290.75 545.692 290.056C545.059 289.362 544.109 289.026 542.842 289.05C541.561 289.073 540.618 289.443 540.013 290.16C539.409 290.877 539.123 292.027 539.155 293.61Z"
                fill="white"></path>
              <path
                d="M537.511 309.861C536.513 313.914 535.733 317.279 535.173 319.956C534.503 319.612 533.844 319.344 533.195 319.152C532.546 318.96 531.751 318.756 530.81 318.542L534.553 303.785C537.248 304.517 539.782 305.153 542.154 305.693C544.526 306.233 547.088 306.758 549.84 307.266L548.544 312.374L537.511 309.861Z"
                fill="white"></path>
              <path
                d="M531.137 326.006C528.544 330.822 526.717 334.339 525.655 336.557C525.173 336.209 524.654 335.883 524.099 335.579C523.55 335.294 522.849 334.943 521.995 334.525L530.028 319.793C532.481 321.123 534.8 322.323 536.985 323.393C539.17 324.463 541.544 325.562 544.108 326.689L536.075 341.421L532.565 339.702L538.158 329.445L536.296 328.533C535.952 329.133 535.457 330.027 534.809 331.215C533.713 333.225 532.618 335.323 531.524 337.51L528.188 335.876C529.437 333.766 530.61 331.705 531.706 329.696C532.354 328.508 532.836 327.607 533.154 326.994L531.137 326.006Z"
                fill="white"></path>
              <path
                d="M520.506 358.392C518.724 356.742 516.775 355.015 514.66 353.213C512.533 351.402 510.51 349.744 508.588 348.24L513.908 342.63L526.479 346.483L517.236 339.119L521.055 335.092C523.101 336.987 525.051 338.723 526.903 340.301C528.744 341.869 530.767 343.517 532.973 345.245L527.505 351.012L514.672 346.963L524.147 354.553L520.506 358.392Z"
                fill="white"></path>
              <path
                d="M510.706 365.113C508.405 366.539 506.399 367.392 504.69 367.673C502.988 367.966 501.543 367.796 500.355 367.162C499.163 366.547 498.088 365.546 497.132 364.159C496.225 362.844 495.739 361.504 495.672 360.142C495.606 358.779 495.997 357.446 496.845 356.142C497.701 354.851 499.023 353.651 500.809 352.544C501.899 351.87 503.006 351.183 504.132 350.486C505.258 349.788 506.4 349.089 507.559 348.388C509.071 350.784 510.521 352.989 511.91 355.004C513.316 357.043 514.832 359.14 516.458 361.296C515.083 362.317 513.166 363.589 510.706 365.113ZM502.735 356.401C501.596 357.106 501.021 357.843 501.01 358.611C500.998 359.38 501.315 360.232 501.96 361.168C502.582 362.069 503.286 362.673 504.074 362.98C504.85 363.294 505.788 363.11 506.89 362.428C508.077 361.693 508.94 361.107 509.478 360.672L505.396 354.752L502.735 356.401Z"
                fill="white"></path>
              <path
                d="M480.572 361.158C481.62 362.111 483.308 363.543 485.634 365.453L487.221 362.332L486.198 359.396L491.329 357.789C492.138 360.461 492.943 362.946 493.743 365.243C494.544 367.541 495.458 369.991 496.487 372.594L491.356 374.201L489.274 368.226C487.608 371.492 486.502 374.047 485.956 375.892L479.279 377.983L483.554 369.587C482.129 368.556 480.546 367.446 478.806 366.257C477.052 365.072 475.484 364.048 474.101 363.184L480.572 361.158Z"
                fill="white"></path>
              <defs>
                <linearGradient
                  id="paint0_linear_11_261"
                  x1="110.5"
                  y1="0"
                  x2="110.5"
                  y2="221"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#DB6200"></stop>
                  <stop offset="1" stop-color="#C74E00"></stop>
                </linearGradient>
              </defs>
            </svg>
          </div>
        </div>
      </div>
      <div class="afsnit 6">
        <h2>Historier fra elever</h2>
        <p>
          HØJSKOLENDK er en dansk højskole for unge i alderen 18-28 år. Vi
          brænder for oplevelser, fællesskabet og det gode eventyr.
        </p>
        <div class="historier">
          <div class="historie">
            <h3>3 helt igennem fantastiske måneder i Sydamerika</h3>
            <p>
              “Jeg har oplevet de vildeste ting, se de flotteste ting og jeg har
              gjort det hele med den mest fantastiske gruppe og rejseleder og
              underviser. Man udvikler sig gennem de mange forskellige
              oplevelser og igennem den fantastiske undervisning man får
              undervejs. Savner allerede”
            </p>
            <p><b>– Sarah, 24 år</b></p>
          </div>
          <div class="historie">
            <h3>De mest fantastiske 3 måneder</h3>
            <p>
              “Jeg er lige kommet hjem fra opholdet til "Brasilien, Argentina,
              Bolivia, Peru, Ecuador og Colombia." Vi havde Mattias og Malte
              (M&M) med som rejseleder og underviser. De har været super gode
              begge to og klaret det sindssygt godt. Begge har skabt helt
              fantastiske rammer, som har givet os den fedeste og mest
              uforglemmelige tur.”
            </p>
            <p><b>– Andrea, 19 år</b></p>
          </div>
          <div class="historie">
            <h3>
              Det her har været den største og mest fantastiske oplevelse i mit
              liv
            </h3>
            <p>
              Vores rejseleder Elisabeth og underviser Jakob havde styr på alt,
              de skabte tryghed, sørgede for god stemning og gjorde virkelig en
              positiv forskel for vores rejse. Man kunne mærke, at de brændte
              for oplevelserne og for fællesskabet, og det gjorde rejsen endnu
              mere speciel. Det her har været den største og mest fantastiske
              oplevelse i mit liv. Jeg vil aldrig glemme den, og jeg kan kun
              give mine aller varmeste anbefalinger til alle, der overvejer at
              tage af sted. Det er et eventyr for livet
            </p>
            <p><b>– Magnus, 20 år</b></p>
          </div>
          <div class="historie">
            <h3>Et uforglemmeligt eventyr</h3>
            <p>
              “Det her har været den største og mest fantastiske oplevelse i mit
              liv. Jeg vil aldrig glemme den, og jeg kan kun give mine aller
              varmeste anbefalinger til alle, der overvejer at tage af sted. Det
              er et eventyr for livet”
            </p>
            <p><b>– Sarah, 18 år</b></p>
          </div>
        </div>
        <Button title="Læs flere historier" variant="primary" />
      </div>
      <div class="afsnit7">
        <div class="sidste">
          <h2>Et fællesskab, der starter på rejsen og varer hele livet</h2>
          <h2>Få dit livs eventyr</h2>
          <p>
            Du rejser sammen med ca. 30 andre unge og du kender dem ikke. Endnu.
            Men om få uger har I delt jetlag, vilde grin og livsændrene
            bucketliste oplevelser sammen. Det er det der sker, når man tager en
            flok eventyrslystne unge ud i verden sammen.
          </p>
          <h3>Medlem af Rejsegarantifonden</h3>
          <p>
            Du er sikker på en tryg rejseoplevelse da vi er medlem af
            Rejsegarantifonden. Alle vores rejseledere har selv været
            HØJSKOLENDK elever i tidernes morgen og er klar til at byde dig
            velkommen.
          </p>
          <p>Vi glæder os til at lære dig at kende!</p>
          <Button title="Se rejsekalnderen" variant="primary" />
        </div>
        <div class="placeholder"></div>
        <div class="cirkeldiv">
          <svg
            class="cirkel3"
            width="169"
            height="169"
            viewBox="0 0 169 169"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle
              cx="84.5"
              cy="84.5"
              r="84.5"
              transform="matrix(-1 0 0 1 169 0)"
              fill="url(#paint0_linear_11_310)"></circle>
            <path
              d="M62.7931 145.598C63.3823 143.83 63.9723 141.919 64.5631 139.866C65.1538 137.814 65.6691 135.884 66.1091 134.077L69.8682 135.041L68.6258 139.358L74.5124 140.867L75.7548 136.551L79.5139 137.515C78.8378 139.545 78.2425 141.454 77.7279 143.242C77.2133 145.03 76.7033 146.962 76.1979 149.036L72.4388 148.072L73.6811 143.755L67.7945 142.246L66.5522 146.562L62.7931 145.598Z"
              fill="white"></path>
            <path
              d="M46.2566 135.945L47.8887 135.515C47.8075 134.362 48.1734 133.136 48.9864 131.84C50.0451 130.152 51.3781 129.133 52.9855 128.785C54.5929 128.436 56.5114 128.884 58.7411 130.13C59.8175 130.732 60.6748 131.362 61.3129 132.02L62.1013 131.819L64.4544 134.834L62.9239 135.226C63.0259 136.429 62.6617 137.693 61.8311 139.017C60.79 140.677 59.4629 141.686 57.8496 142.044C56.2268 142.397 54.3101 141.956 52.0996 140.721C50.9848 140.098 50.0998 139.44 49.4445 138.746L48.6097 138.96L46.2566 135.945ZM58.4145 137.108C58.5725 136.856 58.7093 136.586 58.825 136.298L53.5666 137.668C53.628 137.715 53.7356 137.781 53.8894 137.867C54.9466 138.458 55.8364 138.684 56.5588 138.546C57.2813 138.408 57.8998 137.929 58.4145 137.108ZM52.403 133.749C52.2451 134.001 52.1269 134.231 52.0483 134.439L57.1676 133.105L56.9513 132.984C55.8845 132.388 54.9929 132.154 54.2763 132.283C53.5539 132.421 52.9294 132.91 52.403 133.749Z"
              fill="white"></path>
            <path
              d="M33.0527 125.053L37.3456 121.109C38.8618 119.716 40.4044 119.023 41.9736 119.029C43.5268 119.035 45.1292 119.839 46.7809 121.441C47.7292 122.361 48.4645 123.342 48.9868 124.384C49.5012 125.419 49.8435 126.448 50.0138 127.471C49.361 127.787 48.7561 128.111 48.1991 128.444C47.6421 128.776 47.0643 129.173 46.4656 129.633C46.3245 128.226 46.04 127.069 45.6119 126.164C45.1838 125.259 44.6576 124.503 44.0333 123.898C43.3853 123.269 42.773 122.959 42.1964 122.966C41.6199 122.973 40.9628 123.308 40.2252 123.971L39.3009 124.82C37.9875 126.026 36.9123 127.081 36.0754 127.984L33.0527 125.053Z"
              fill="white"></path>
            <path
              d="M39.9808 117.019C39.2932 116.962 38.6734 116.944 38.1216 116.964C37.5642 116.975 36.9444 117.031 36.2622 117.133C36.259 116.25 36.1034 115.305 35.7952 114.298C35.4871 113.291 35.1041 112.405 34.6461 111.64C34.1767 110.856 33.7779 110.339 33.4497 110.091C33.1117 109.847 32.8602 109.77 32.695 109.858C32.1025 110.174 32.3321 111.21 33.3838 112.967C34.5374 114.894 35.1703 116.401 35.2825 117.488C35.385 118.58 34.9749 119.372 34.052 119.864C32.7407 120.563 31.4575 120.55 30.2025 119.823C28.9475 119.097 27.8139 117.888 26.8018 116.198C26.2137 115.215 25.7426 114.139 25.3885 112.97C25.0191 111.796 24.809 110.674 24.7582 109.605C25.5633 109.537 26.5178 109.408 27.6215 109.218C27.8497 109.171 28.0237 109.14 28.1435 109.126C28.0336 109.82 28.1387 110.724 28.4589 111.837C28.7693 112.955 29.1479 113.887 29.5946 114.633C30.1317 115.531 30.5568 116.101 30.8697 116.346C31.1728 116.595 31.441 116.658 31.6741 116.534C31.9072 116.409 31.9694 116.096 31.8607 115.593C31.7366 115.086 31.4314 114.426 30.9451 113.614C29.7463 111.611 29.1135 110.03 29.0466 108.869C28.9701 107.713 29.4175 106.877 30.3889 106.358C31.7488 105.633 33.0183 105.592 34.1973 106.234C35.3666 106.881 36.5365 108.183 37.707 110.138C38.3347 111.187 38.8571 112.316 39.2742 113.527C39.6816 114.743 39.9172 115.907 39.9808 117.019Z"
              fill="white"></path>
            <path
              d="M31.5731 95.5336C30.8 96.2539 29.6355 97.4205 28.0794 99.0334L30.4495 100.445L32.7601 99.8828L33.8428 103.85C31.7443 104.269 29.7911 104.699 27.9833 105.139C26.1754 105.578 24.2454 106.093 22.1933 106.683L21.1106 102.716L25.8121 101.572C23.3318 100.092 21.3849 99.0815 19.9714 98.5418L18.5626 93.3802L24.9387 97.181C25.7841 96.1826 26.6958 95.0718 27.6738 93.8486C28.6489 92.6148 29.4936 91.509 30.2077 90.5312L31.5731 95.5336Z"
              fill="white"></path>
            <path
              d="M30.5066 82.6051C30.4611 85.1258 29.8827 86.9718 28.7715 88.1431C27.6492 89.3142 26.0974 89.8838 24.116 89.8519C22.1566 89.8204 20.6372 89.2068 19.5577 88.0113C18.4784 86.8048 17.9616 84.9357 18.0073 82.404C18.0532 79.8613 18.6372 78.0099 19.7592 76.8498C20.8815 75.6788 22.4223 75.109 24.3817 75.1405C26.3741 75.1726 27.9045 75.7863 28.973 76.9816C30.0415 78.1769 30.5527 80.0514 30.5066 82.6051ZM27.1382 82.5509C27.1603 81.3291 26.945 80.4448 26.4925 79.898C26.0289 79.351 25.3017 79.0696 24.311 79.0536C23.3423 79.038 22.6165 79.2961 22.1334 79.8279C21.6503 80.3596 21.3977 81.2364 21.3757 82.4582C21.3538 83.669 21.5747 84.5479 22.0383 85.0949C22.5019 85.6419 23.218 85.9232 24.1867 85.9388C25.1664 85.9545 25.8977 85.6965 26.3808 85.1648C26.8639 84.633 27.1164 83.7618 27.1382 82.5509Z"
              fill="white"></path>
            <path
              d="M28.8992 70.138C29.7832 67.0708 30.4792 64.523 30.9872 62.4947C31.4896 62.775 31.9862 62.9969 32.4772 63.1604C32.9682 63.3239 33.5704 63.4996 34.2836 63.6875L30.9823 74.8519C28.942 74.2233 27.0222 73.6719 25.2231 73.1979C23.4239 72.7239 21.4792 72.257 19.3889 71.7973L20.5315 67.9334L28.8992 70.138Z"
              fill="white"></path>
            <path
              d="M34.2901 57.9477C36.4156 54.3456 37.9173 51.7131 38.795 50.0503C39.154 50.3285 39.5416 50.5908 39.958 50.8373C40.3703 51.0691 40.8971 51.3557 41.5386 51.697L34.9598 62.7133C33.1195 61.6344 31.378 60.658 29.7355 59.7841C28.093 58.9101 26.3064 58.0093 24.3758 57.0817L30.9546 46.0653L33.5933 47.4693L29.0127 55.1397L30.4122 55.8843C30.6929 55.4358 31.0985 54.7673 31.6291 53.8788C32.5266 52.3759 33.426 50.8056 34.3273 49.1677L36.8348 50.5019C35.8169 52.0777 34.8592 53.6171 33.9617 55.12C33.4311 56.0085 33.0352 56.6821 32.774 57.141L34.2901 57.9477Z"
              fill="white"></path>
            <path
              d="M43.405 33.494C44.7242 34.8019 46.1686 36.1719 47.7382 37.6041C49.3159 39.0437 50.8195 40.3636 52.249 41.5639L48.0192 45.6942L38.4994 42.4088L45.3726 48.2786L42.3361 51.2436C40.8214 49.7425 39.3769 48.3649 38.0025 47.1108C36.6363 45.8642 35.1328 44.5518 33.4921 43.1737L37.84 38.928L47.5546 42.3689L40.5102 36.3206L43.405 33.494Z"
              fill="white"></path>
            <path
              d="M51.1672 28.5732C52.9661 27.5495 54.5233 26.9544 55.8388 26.7877C57.1485 26.6117 58.249 26.7824 59.1404 27.2998C60.0355 27.8025 60.8297 28.5967 61.523 29.6822C62.1807 30.7121 62.5163 31.7482 62.5297 32.7906C62.5432 33.8329 62.2077 34.8398 61.5235 35.8111C60.8333 36.7731 59.7897 37.6516 58.3927 38.4465C57.5411 38.9311 56.6752 39.4239 55.7949 39.9248C54.9146 40.4258 54.0218 40.9275 53.1164 41.4301C52.0256 39.5587 50.9765 37.8343 49.9691 36.257C48.9499 34.6611 47.8479 33.0174 46.6633 31.3259C47.7426 30.5852 49.244 29.6676 51.1672 28.5732ZM57.0258 35.4483C57.9156 34.9419 58.3755 34.3955 58.4055 33.8092C58.4355 33.2229 58.2164 32.5632 57.7482 31.8303C57.2979 31.1251 56.7756 30.6443 56.1813 30.3879C55.5966 30.1261 54.8737 30.2402 54.0125 30.7302C53.0844 31.2584 52.4084 31.681 51.9847 31.998L54.9446 36.6325L57.0258 35.4483Z"
              fill="white"></path>
            <path
              d="M74.187 32.3893C73.4128 31.6317 72.1637 30.4909 70.4398 28.9668L69.1398 31.3085L69.8392 33.5813L65.8736 34.6686C65.3304 32.604 64.7852 30.6826 64.238 28.9043C63.6908 27.126 63.0607 25.2279 62.3476 23.2098L66.3132 22.1226L67.7362 26.7471C69.1005 24.2964 70.017 22.3736 70.4858 20.9785L75.6458 19.5638L72.1444 25.8637C73.205 26.6911 74.3833 27.5832 75.6793 28.54C76.986 29.4939 78.1555 30.3199 79.1878 31.0182L74.187 32.3893Z"
              fill="white"></path>
            <path
              d="M106.214 23.4969C105.695 25.287 105.18 27.219 104.67 29.293C104.16 31.367 103.72 33.3156 103.351 35.139L99.5616 34.3022L100.634 29.9404L94.7002 28.6301L93.6275 32.9919L89.838 32.1551C90.4341 30.1001 90.9543 28.1693 91.3986 26.3626C91.843 24.5559 92.2772 22.606 92.7012 20.513L96.4907 21.3498L95.418 25.7116L101.352 27.0219L102.425 22.6601L106.214 23.4969Z"
              fill="white"></path>
            <path
              d="M123.012 32.5894L121.401 33.0767C121.525 34.2297 121.207 35.4699 120.445 36.7972C119.453 38.5255 118.162 39.5924 116.573 39.998C114.983 40.4035 113.053 40.0212 110.783 38.8509C109.687 38.2859 108.809 37.6845 108.147 37.0468L107.369 37.2765L104.909 34.3379L106.42 33.892C106.273 32.6902 106.588 31.4113 107.366 30.0554C108.342 28.3557 109.627 27.2983 111.222 26.8832C112.827 26.4732 114.755 26.8482 117.005 28.0084C118.14 28.5936 119.048 29.2221 119.727 29.8941L120.552 29.6509L123.012 32.5894ZM110.845 31.8487C110.697 32.1065 110.571 32.3817 110.467 32.6742L115.658 31.1186C115.595 31.0738 115.485 31.011 115.328 30.9303C114.252 30.3754 113.356 30.1797 112.641 30.3431C111.926 30.5065 111.327 31.0084 110.845 31.8487ZM116.966 35.0039C117.114 34.7461 117.223 34.5116 117.294 34.3004L112.24 35.8155L112.46 35.929C113.546 36.4889 114.444 36.6919 115.154 36.5381C115.869 36.3747 116.473 35.8633 116.966 35.0039Z"
              fill="white"></path>
            <path
              d="M136.537 43.0128L132.398 47.1181C130.937 48.568 129.423 49.3183 127.858 49.369C126.309 49.4194 124.681 48.6722 122.976 47.1276C121.997 46.2408 121.228 45.2847 120.669 44.2595C120.118 43.2417 119.74 42.2238 119.533 41.2058C120.172 40.8655 120.764 40.5187 121.307 40.1655C121.851 39.8122 122.413 39.3941 122.993 38.9112C123.185 40.316 123.511 41.4639 123.97 42.355C124.43 43.2461 124.982 43.9835 125.627 44.5674C126.296 45.1734 126.918 45.4623 127.493 45.4341C128.068 45.4059 128.711 45.0466 129.422 44.3562L130.313 43.4723C131.58 42.2162 132.614 41.1208 133.416 40.1859L136.537 43.0128Z"
              fill="white"></path>
            <path
              d="M129.896 51.3002C130.585 51.3319 131.204 51.3276 131.755 51.2872C132.311 51.256 132.928 51.1769 133.606 51.0497C133.64 51.9328 133.83 52.8724 134.173 53.8683C134.517 54.8643 134.931 55.7365 135.416 56.485C135.913 57.2519 136.33 57.7537 136.666 57.9903C137.013 58.2214 137.267 58.2899 137.428 58.1958C138.009 57.8579 137.742 56.8297 136.629 55.111C135.408 53.226 134.722 51.7421 134.571 50.6594C134.43 49.5712 134.811 48.764 135.715 48.2379C136.999 47.4902 138.281 47.4566 139.56 48.1371C140.84 48.8176 142.015 49.9848 143.086 51.6388C143.709 52.5998 144.218 53.6587 144.613 54.8154C145.024 55.9758 145.274 57.09 145.363 58.1579C144.562 58.2554 143.613 58.4194 142.518 58.6498C142.291 58.7052 142.119 58.742 142 58.7605C142.085 58.0621 141.947 57.1623 141.588 56.0611C141.238 54.9542 140.826 54.0358 140.353 53.3059C139.785 52.428 139.34 51.8727 139.019 51.6397C138.707 51.4012 138.437 51.3485 138.209 51.4814C137.98 51.6143 137.929 51.9302 138.056 52.4291C138.198 52.9317 138.527 53.5803 139.041 54.375C140.31 56.3339 140.999 57.8926 141.107 59.051C141.225 60.2039 140.808 61.0573 139.857 61.6111C138.524 62.3864 137.258 62.4745 136.058 61.8754C134.867 61.2707 133.652 60.012 132.413 58.0992C131.749 57.0736 131.187 55.9629 130.727 54.7674C130.276 53.5663 130 52.4106 129.896 51.3002Z"
              fill="white"></path>
            <path
              d="M139.068 72.4563C139.815 71.709 140.936 70.5019 142.432 68.8348L140.011 67.5098L137.722 68.1538L136.494 64.2296C138.576 63.7352 140.512 63.236 142.303 62.7321C144.094 62.2282 146.005 61.645 148.034 60.9824L149.263 64.9066L144.605 66.2172C147.139 67.6077 149.122 68.5472 150.555 69.0357L152.153 74.142L145.64 70.5731C144.831 71.6008 143.961 72.7431 143.028 74.0001C142.099 75.2676 141.295 76.4025 140.617 77.4049L139.068 72.4563Z"
              fill="white"></path>
            <path
              d="M140.633 85.3243C140.582 82.8037 141.089 80.939 142.155 79.7302C143.232 78.5213 144.761 77.8986 146.742 77.8622C148.701 77.8262 150.243 78.387 151.368 79.5445C152.493 80.7131 153.081 82.5631 153.132 85.0947C153.184 87.6373 152.671 89.5076 151.594 90.7056C150.517 91.9145 148.999 92.537 147.04 92.573C145.048 92.6096 143.495 92.049 142.381 90.8913C141.268 89.7335 140.685 87.8779 140.633 85.3243ZM144.001 85.2624C144.026 86.4842 144.275 87.3605 144.748 87.8913C145.233 88.422 145.97 88.6782 146.961 88.66C147.929 88.6422 148.645 88.3593 149.107 87.8113C149.57 87.2633 149.789 86.3784 149.764 85.1566C149.739 83.9458 149.485 83.0751 149.001 82.5445C148.516 82.0138 147.79 81.7574 146.821 81.7752C145.842 81.7932 145.121 82.0762 144.658 82.6242C144.196 83.1722 143.977 84.0516 144.001 85.2624Z"
              fill="white"></path>
            <path
              d="M142.742 97.7201C141.978 100.82 141.382 103.393 140.954 105.44C140.442 105.177 139.937 104.971 139.441 104.825C138.945 104.678 138.337 104.522 137.618 104.359L140.48 93.0736C142.541 93.6333 144.478 94.1197 146.292 94.5328C148.107 94.9459 150.066 95.3469 152.17 95.7358L151.179 99.6415L142.742 97.7201Z"
              fill="white"></path>
            <path
              d="M137.86 110.091C135.877 113.774 134.479 116.463 133.667 118.16C133.298 117.893 132.902 117.644 132.477 117.412C132.057 117.194 131.521 116.925 130.869 116.605L137.011 105.34C138.887 106.357 140.661 107.274 142.331 108.093C144.002 108.911 145.818 109.751 147.778 110.613L141.636 121.879L138.951 120.564L143.228 112.72L141.804 112.023C141.542 112.482 141.162 113.166 140.667 114.075C139.829 115.611 138.992 117.216 138.155 118.888L135.604 117.639C136.56 116.025 137.456 114.449 138.294 112.912C138.79 112.004 139.159 111.315 139.402 110.846L137.86 110.091Z"
              fill="white"></path>
            <path
              d="M129.714 134.882C128.351 133.62 126.86 132.3 125.243 130.922C123.617 129.537 122.069 128.269 120.6 127.118L124.668 122.828L134.281 125.775L127.213 120.144L130.133 117.064C131.698 118.513 133.189 119.841 134.605 121.048C136.013 122.247 137.56 123.507 139.247 124.828L135.066 129.238L125.252 126.143L132.498 131.946L129.714 134.882Z"
              fill="white"></path>
            <path
              d="M122.195 140.043C120.436 141.133 118.902 141.786 117.595 142.001C116.293 142.225 115.188 142.095 114.28 141.61C113.368 141.14 112.547 140.374 111.816 139.314C111.122 138.308 110.75 137.284 110.699 136.241C110.648 135.199 110.947 134.18 111.596 133.183C112.25 132.195 113.261 131.278 114.627 130.432C115.46 129.916 116.307 129.391 117.168 128.858C118.029 128.324 118.903 127.79 119.789 127.254C120.945 129.086 122.054 130.772 123.116 132.313C124.191 133.872 125.35 135.476 126.594 137.124C125.542 137.905 124.076 138.878 122.195 140.043ZM116.1 133.381C115.229 133.92 114.79 134.484 114.781 135.071C114.772 135.659 115.014 136.311 115.508 137.027C115.983 137.715 116.521 138.177 117.124 138.412C117.717 138.652 118.435 138.512 119.277 137.99C120.185 137.428 120.845 136.98 121.256 136.647L118.135 132.12L116.1 133.381Z"
              fill="white"></path>
            <path
              d="M99.1233 137.03C99.925 137.759 101.215 138.854 102.994 140.315L104.208 137.929L103.426 135.683L107.35 134.454C107.968 136.497 108.584 138.398 109.196 140.155C109.808 141.912 110.507 143.785 111.294 145.776L107.37 147.005L105.778 142.435C104.504 144.933 103.658 146.887 103.241 148.298L98.1349 149.897L101.404 143.477C100.314 142.688 99.1032 141.839 97.7727 140.93C96.4316 140.024 95.2324 139.24 94.175 138.58L99.1233 137.03Z"
              fill="white"></path>
            <g filter="url(#filter0_g_11_310)">
              <path
                d="M61.9464 63.707L62.0733 67.3392M62.0733 67.3392L68.7221 65.4269C73.7254 63.9892 79.0779 64.3888 83.8122 66.5534L84.0783 66.675C88.717 68.7952 93.952 69.2223 98.873 67.8822L106.342 65.8467C105.721 74.3284 106.023 82.8525 107.242 91.2692L99.7632 93.305C94.8418 94.6465 89.6058 94.2203 84.9662 92.1004L84.7001 91.9788C79.9658 89.8141 74.6132 89.4146 69.61 90.8523L62.9611 92.7646M62.0733 67.3392L62.9611 92.7646M63.4685 107.293L62.9611 92.7646"
                stroke="white"
                stroke-width="3.63441"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </g>
            <defs>
              <filter
                id="filter0_g_11_310"
                x="58.3119"
                y="60.0724"
                width="52.5643"
                height="50.8551"
                filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB"
              >
                <feFlood flood-opacity="0" result="BackgroundImageFix"
                ></feFlood>
                <feBlend
                  mode="normal"
                  in="SourceGraphic"
                  in2="BackgroundImageFix"
                  result="shape"></feBlend>
                <feTurbulence
                  type="fractalNoise"
                  baseFrequency="0.073372773826122284 0.073372773826122284"
                  numOctaves="3"
                  seed="3734"></feTurbulence>
                <feDisplacementMap
                  in="shape"
                  scale="3.634408712387085"
                  xChannelSelector="R"
                  yChannelSelector="G"
                  result="displacedImage"
                  width="100%"
                  height="100%"></feDisplacementMap>
                <feMerge result="effect1_texture_11_310">
                  <feMergeNode in="displacedImage"></feMergeNode>
                </feMerge>
              </filter>
              <linearGradient
                id="paint0_linear_11_310"
                x1="84.5"
                y1="0"
                x2="84.5"
                y2="169"
                gradientUnits="userSpaceOnUse"
              >
                <stop stop-color="#DB6200"></stop>
                <stop offset="1" stop-color="#C74E00"></stop>
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
    </div>
  </main>
</Layout>

<style>
  .icon {
    display: inline-flex;
    line-height: 0;
  }
  .icon img {
    display: block;
    max-width: fit-content;
    padding-right: 10px;
  }
</style>
