---
import Button from "../components/Button.astro";
import "../styles/main.css";
import "../styles/pages.css";

const {title, text, button_page, background} = Astro.props;
---

 <article class="afsnit1" style={`background-image: url(${background})`};>
    {button_page ? (
       <h1>{title}</h1>
      <p>
        {text}
      </p>

      <Button title="Se rejsekalender" variant="primary" />
      <Button title="Infomøder" variant="secondary" href="/info" />  
    ):
       <h1>{title}</h1>
      <p>
        {text}
      </p>
    }

    </article>

    <style>
        article{
            height: calc(100vh - 9rem);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: cover;
            color: white;
        }
        h1{
            max-width: 800px;
            text-align: center;
            margin: 0 auto;
            padding-top: 8rem;
        }
        p{
            max-width: 500px;
            margin: 0 auto;
        }
        @media (max-width: 425px) {
            h1{
                max-width: 250px;
                font-size: 2.5rem;
            }
            p{
                max-width: 200px;
                font-size: 1rem;
            }
        }  
    </style>

